# Object files
*.o
.depend

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backup files
*~
*.bak

# Makefile
Makefile

# tiny
tiny_gc.c
